@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    font-size: 10vw;
}
header{
    background-color: #00b4d8;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    height: auto;
    padding: 2vw 5vw;
    background: url(images/jjk1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    color: #0d2040;
    font-size: 0.45rem;
    width: 100%;
}
.logo h1{
    margin: 2vw;
}
.logo span{
    flex-grow: 2;
    display: flex;
    justify-content: end;
}
.logo img{
    width:15%;
    max-width: 100px;
}
.mainImage{
    width: 80%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerButton{
    margin: 5vw 0 0 0;
    font-size: 2vh;
    padding: 1vw 3vw;
    border-radius: 2vw;
    border: 0;
    background-color: #17376c;
    color: #f8f8fa;
}

.navbar ul{
    display:flex;
    flex-direction: row;
    display: none;
}
.mainImage img{
    width: 90%;
    border-radius: 2vw;
    max-width: 550px;
}
.heading h1{
    text-transform: uppercase;
    font-size: 37px;
}
.heading{
    text-align: center;
    color: #0d2040;
    padding: 4vw 0;
}
.heading p{
    text-align: center;
    color: #23375a;
    padding: 2vw 7vw;
    font-size: 18px;
    margin: 2vh 0 5vh;
}
.categoriesHeading{
    margin-top: 10vh;
    width: 100%;
    height: auto;
    text-align: center;
}
.categoriesHeading h2{
    font-size: 37px;

}
.categoriesHeading p{
    font-size: 18px;
    margin: 3vh 3vw 3vh 3vw;
}
.categories {
    background-color: #caf0f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 4vw;
}
.ciBox{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2vh;
}
.categories img{
    width: 70vw;
    margin: 0 auto;
    border-radius: 50%;
    height: 70vw;
    object-fit: cover;
    
}
.ciBoxText h3{
    font-size: 37px;
}
.cDescription{
    font-size: 18px;
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.video{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 5vh 0;
}
.video h1{
    margin: 5vh 0; 
}
.video video{
    width: 100vw;
}
.contentSection{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #caf0f8;
    padding: 5vh 5vw;
    text-align: center;

}
.content h3{
    font-size: 34px;
    margin: 5vh 0 0 0;
    font-weight: lighter;
}
.content p{
    font-size: 16px;
    margin: 2vh 0;

}
/* Media Queries */
@media only screen and (min-width:600px){
    .logo{
        width: 90vw;
    }
    header{
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 20vh;
    }
    .heading{
        width: 45vw;
        padding: 5vh;
    }
    .mainImage{
        width: 45vw;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .heading h1{
        font-size: 20px;
        padding: 0 2vh;
    }
    .heading p{
        font-size: 10px;
        color: rgb(251, 252, 255);
        font-weight: 400;
    }
    .categories{
        padding: 9vw;

    }
    .categories img{
        height: 50vw;
        width: 50vw;

    }
}
@media (orientation: portrait) and (min-width:600px) and (max-width:1000px){
    header{
        min-height:60vh;
        padding-bottom: 2vh;
    }
    .heading{
        padding: 0;
    }
    .contentSection{
        width: 100vw;
    }

}
@media only screen and (min-width:800px){
   
    header{
        align-content: space-between;
        padding-bottom: 10vh;

    }
    .heading{width: auto;
    max-width: 45vw;}
    .heading h1{
        font-size: 35px;
    }
    .heading p{
        font-size: 18px;
    }
    .mainImage{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        max-width: 45vw;
    }   
    .mainImage img{
        width: 100%;
    }
    .categories{
        flex-direction: row;
        padding:3vw;
    }
    .categories img{
        height: 26vw;
        width: 26vw;
        flex-direction: row;
    }
    .ciBox{
        margin: 2vw;
    }
    .categories h3{
        font-size: 31px;
        margin-top: 3vh;
    }
    .categories p{
        font-size: 18px;
        margin-top: 3vh;
    }
    .categoriesHeading {
        margin-top: 5vh;
    }
    .contentSection{
        flex-direction: row;
        text-align: left;
        border-radius: 2%;
        width: 85%;
        padding-top: 4vh 0 0 0  ;

    }
    .content{
        margin: 0 4vw;
    }
    
}
@media only screen and (min-width:1400px){
    .logo{
        font-size: 0.8rem;
    }
    .logo img{
        max-width: 120px;
    }
    .heading h1{
        font-size: 45px;
    } 
    .heading p{
        font-size: 21px;
    }
    .categories{
        padding:1vh 2vw ;
    }
    .categories img{
        height: 20vw;
        width: 20vw;
    }
    .ciBox{
        margin:4vh 4vw;
    }
    .categories h3{
        font-size: 31px;
        margin-top: 3vh;
    }
    .categories p{
        font-size: 18px;
        margin-top: 3vh;

    }
    .categoriesHeading {
        margin-top: 5vh;
    }
}